In [5]:
import pandas as pd
import numpy as np
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split

from sklearn.metrics import (classification_report)

In [6]:
df = pd.read_csv('MBA.csv')

df['admission'] = df['admission'].fillna(-1)
df['admission'] = df['admission'].replace("Admit",1)
df['admission'] = df['admission'].replace("Waitlist",0)

df = df[df['admission'] != 0]


y = df.admission.values
df = pd.get_dummies(df, columns=['gender', 'work_industry', 'major', 'race'], drop_first=False)

df.head()

/var/folders/d2/dbplq90x2ll9l3bnlgkbjtlr0000gn/T/ipykernel_95141/3095997942.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['admission'] = df['admission'].replace("Waitlist",0)

,application_id,international,gpa,gmat,work_exp,admission,gender_Female,gender_Male,work_industry_CPG,work_industry_Consulting,...,work_industry_Retail,work_industry_Technology,major_Business,major_Humanities,major_STEM,race_Asian,race_Black,race_Hispanic,race_Other,race_White
0,1,False,3.30,620.0,3.0,1,True,False,False,False,...,False,False,True,False,False,True,False,False,False,False
1,2,False,3.28,680.0,5.0,-1,False,True,False,False,...,False,False,False,True,False,False,True,False,False,False
2,3,True,3.30,710.0,5.0,1,True,False,False,False,...,False,True,True,False,False,False,False,False,False,False
3,4,False,3.47,690.0,6.0,-1,False,True,False,False,...,False,True,False,False,True,False,True,False,False,False
4,5,False,3.35,590.0,5.0,-1,False,True,False,True,...,False,False,False,False,True,False,False,True,False,False

In [8]:
X=df.drop(['admission'], axis='columns').values
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y,test_size =0.30, random_state=42)

mySVM = LinearSVC(max_iter=10000)

mySVM.fit(Xtrain, ytrain)

ytest_pred_svm = mySVM.predict(Xtest)

models = {
          'SVM': mySVM}

def compute_performance(yhat, y, classes):
    # First, get tp, tn, fp, fn
    tp = sum(np.logical_and(yhat == classes[1], y == classes[1]))
    tn = sum(np.logical_and(yhat == classes[0], y == classes[0]))
    fp = sum(np.logical_and(yhat == classes[1], y == classes[0]))
    fn = sum(np.logical_and(yhat == classes[0], y == classes[1]))

    print(f"tp: {tp} tn: {tn} fp: {fp} fn: {fn}")
    
    # Accuracy
    acc = (tp + tn) / (tp + tn + fp + fn)
    
    # Precision
    # "Of the ones I labeled +, how many are actually +?"
    precision = tp / (tp + fp)
    
    # Recall
    # "Of all the + in the data, how many do I correctly label?"
    recall = tp / (tp + fn)    
    
    # Sensitivity
    # "Of all the + in the data, how many do I correctly label?"
    sensitivity = recall
    
    # Specificity
    # "Of all the - in the data, how many do I correctly label?"
    specificity = tn / (fp + tn)
    
    # Print results
    
    print("Accuracy:",round(acc,3),"Recall:",round(recall,3),"Precision:",round(precision,3),
          "Sensitivity:",round(sensitivity,3),"Specificity:",round(specificity,3))

## Put code here to compute criteria:
compute_performance(ytest_pred_svm, ytest, mySVM.classes_)

report = classification_report(ytest, ytest_pred_svm, target_names=["Deny", "Admit"])
print("Classification Report:")
print(report)

df.head()

tp: 3 tn: 1584 fp: 1 fn: 241
Accuracy: 0.868 Recall: 0.012 Precision: 0.75 Sensitivity: 0.012 Specificity: 0.999
Classification Report:
              precision    recall  f1-score   support

        Deny       0.87      1.00      0.93      1585
       Admit       0.75      0.01      0.02       244

    accuracy                           0.87      1829
   macro avg       0.81      0.51      0.48      1829
weighted avg       0.85      0.87      0.81      1829

,application_id,international,gpa,gmat,work_exp,admission,gender_Female,gender_Male,work_industry_CPG,work_industry_Consulting,...,work_industry_Retail,work_industry_Technology,major_Business,major_Humanities,major_STEM,race_Asian,race_Black,race_Hispanic,race_Other,race_White
0,1,False,3.30,620.0,3.0,1,True,False,False,False,...,False,False,True,False,False,True,False,False,False,False
1,2,False,3.28,680.0,5.0,-1,False,True,False,False,...,False,False,False,True,False,False,True,False,False,False
2,3,True,3.30,710.0,5.0,1,True,False,False,False,...,False,True,True,False,False,False,False,False,False,False
3,4,False,3.47,690.0,6.0,-1,False,True,False,False,...,False,True,False,False,True,False,True,False,False,False
4,5,False,3.35,590.0,5.0,-1,False,True,False,True,...,False,False,False,False,True,False,False,True,False,False